#set($writer = $property.variables.newVariable("Writer"))
#newConcreteTypes()
if ($value != null)
{
    #if ($property.converter)
        #createConverter()
        String $valueAsString = ${converter}.serialize($value);
        xmlBuilder.append("$property.pathOrName", $valueAsString);
    #else
	    XmlWriter<$parameterizedValueType> $writer = xmlRegistry.getWriter(${valueType}.class);
	    if ($writer != null)
        {
            XmlBuilder nestedXmlBuilder = new XmlBuilder("$property.pathOrName");
            ((AbstractXmlWriter<$parameterizedValueType>)$writer).appendModel(nestedXmlBuilder, $value);
            xmlBuilder.append(nestedXmlBuilder);
	    }
	    else
	    {
	       xmlBuilder.append("$property.pathOrName");
	    }
    #end
}
else
{
   xmlBuilder.append("$property.pathOrName");
}
