if ($value != null)
{
    #if ($property.converter)
        #createConverter()
        $value = ${converter}.serialize($value);
	#end
    xmlBuilder.append("$property.pathOrName", $value);
}
else
{
    xmlBuilder.append("$property.pathOrName");
}
