#set($writer = $property.variables.newVariable("Writer"))
#newConcreteTypes()
if ($value != null)
{
    #if ($property.converter)
        #createConverter()
        String $valueAsString = ${converter}.serialize($value);
        out.append(JsonUtils.escapeValue($valueAsString));
    #else
	    JsonWriter<$parameterizedValueType> $writer = jsonRegistry.getWriter(${valueType}.class);
	    if ($writer != null)
	    {
	        out.append(${writer}.toJson($value));
	    }
		else
		{
		    out.append("null");
		}
    #end
}
else
{
    out.append("null");
}
