#set($currentReader = $property.variables.newVariable("CurrentReader"))
XmlReader<$elementType> $currentReader = xmlRegistry.getReader(${elementType}.class);
if ($currentReader != null)
{
    $currentValue = ${currentReader}.read(currentElement);
}
else
{
    String currentAsString = currentElement.getText($property.whitespaceHandling);
    if (currentAsString != null && $converter != null)
    {
        $currentValue = ${converter}.convert(currentAsString);
    }
}
