String currentAsString = currentElement.getText($property.whitespaceHandling);
if (currentAsString != null)
{
    if ($converter != null)
    {
        $currentValue = ${converter}.convert(currentAsString);
    }
    else
    {
	    if (currentAsString.length() != 0)
	    {
	        $currentValue = currentAsString.charAt(0);
	    }
    }
}
