String currentAsString = currentElement.getText($property.whitespaceHandling);
if (currentAsString != null)
{
    if ($converter != null)
    {
        $currentValue = ${converter}.convert(currentAsString);
    }
    else
    {
        #valueOfEnum("currentAsString", $currentValue, $elementType)
    }
}
