#set($elementType = $property.type.typeArgs[0].lazyQualifiedName)
#set($valueType = $property.type.typeArgs[1].lazyQualifiedName)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
if ($value != null)
{
    #if ($property.converter)
        #createConverter()
    #end
    #if ($property.xpath)
        XPath xpath = new XPath("$property.pathOrName");
        XmlBuilder collectionXmlBuilder = new XmlBuilder(xpath.allButLast());
        String nestedPath = xpath.last();
    #else
        XmlBuilder collectionXmlBuilder = xmlBuilder;
        String nestedPath = "$property.pathOrName";
    #end
    for ($elementType currentValue : $value .keySet())
    {
        if (currentValue != null)
        {
            #set($ttt = $property.templates.elementType)
            System.out.println("$ttt");
            #parse($property.templates.elementType)
            //xmlBuilder.append(currentValue);
            //xmlBuilder.append($value .get(currentValue));
        }
        else
        {
            collectionXmlBuilder.append(nestedPath);
        }
    }
    #if ($property.xpath)
        xmlBuilder.append(collectionXmlBuilder);
    #end
}
else
{
    xmlBuilder.append("$property.pathOrName");
}
xmlBuilder.append("test");
