#set($keyType = $property.type.typeArgs.get(0).getQualifiedSourceName())
#set($valueType = $property.type.typeArgs.get(1).getQualifiedSourceName())
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
    if ($value != null)
    {
#if ($property.converter)
#createConverter()
#set($keyConverter = $converter)
#end
#if ($property.valueConverter)
#set($valueConverter = $property.variables.newVariable("Converter"))
        $property.valueConverter $valueConverter = GWT.create(${property.valueConverter}.class);
#else
    #set($valueConverter = false)
#end
#if ($property.xpath)
        XPath xpath = new XPath("$property.pathOrName");
        XmlBuilder collectionXmlBuilder = new XmlBuilder(xpath.allButLast());
        String nestedPath = xpath.last();
#else
        String nestedPath = "$property.pathOrName";
        XmlBuilder collectionXmlBuilder = new XmlBuilder(nestedPath);
#end
        for ($keyType key : ${value}.keySet())
        {
            XmlBuilder tmpBuilder = collectionXmlBuilder;
            collectionXmlBuilder = new XmlBuilder("entry");
            {
                XmlBuilder keyXmlBuilder = new XmlBuilder("key");
                nestedPath = "key";
                $keyType currentValue = key;
#set($elementType = $keyType)
#set($converter = $keyConverter)
#parse($property.templates.elementType)
            }
            {
                nestedPath = "value";
                $valueType currentValue = ${value}.get(key);
#set($elementType = $valueType)
#set($converter = $valueConverter)
#parse($property.templates.valueType)
            }
            tmpBuilder.append(collectionXmlBuilder);
            collectionXmlBuilder = tmpBuilder;
        }
        xmlBuilder.append(collectionXmlBuilder);
    }
    else
    {
        xmlBuilder.append("$property.pathOrName");
    }
