#set($elementType = $property.elementType.parameterizedQualifiedSourceName)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
if ($value != null)
{
    #if ($property.converter)
        #createConverter()
    #end
    out.append("[");
    for (Iterator<$elementType> iter = ${value}.iterator(); iter.hasNext(); )
    {
        boolean elementWritten = true;
        $elementType currentValue = iter.next();
        if (currentValue != null)
        {
#if ($paramTypes && !$property.converter)
#set($writer = $property.variables.newVariable("Writer"))
        JsonWriter<$elementType> $writer = jsonRegistry.getWriter(${property.elementType.qualifiedSourceName}.class, typeClasses);
        out.append(${writer}.toJson(currentValue));
#else
        #parse($property.templates.elementType)
#end
        }
        else
        {
            out.append("null");
        }
        if (iter.hasNext() && elementWritten)
        {
            out.append(",");
        }
    }
    out.append("]");
}
else
{
    out.append("null");
}
