## Logs info when a property mapping starts
#macro(logProperty)
if (logger.isLoggable(FINE)) 
{
    logger.log(FINE, "Processing ${propertyHandler.class.name}: $propertyContext");
}
#end


## Creates the custom converter
#macro(customConverter)
    $converter = GWT.create(${propertyContext.converter.name}.class);
    #if ($propertyContext.format) ${converter}.setFormat("$propertyContext.format"); #end
#end


## Tries to get the default converter from the converter registry 
#macro(defaultConverter)
    #if ($propertyContext.format)
        $converter = converterRegistry.get(${valueType}.class, "$propertyContext.format");
        if ($converter == null)
        {
            // No converter with the specified format found in the
            // registry --> Use the default one, set the format and
            // register it against the registry
            $converter = converterRegistry.get(${valueType}.class);
            if ($converter != null)
            {
                ${converter}.setFormat("$propertyContext.format");
                converterRegistry.register(${valueType}.class, ${converter}, "$propertyContext.format");
            }
            else
            {
			    if (logger.isLoggable(SEVERE)) 
			    {
			        logger.log(SEVERE, "No converter found for property $propertyContext.name with type $valueType in ${modelType}. There should be a default converter for that type! Did you deregister the default converter?");
			    }
            }
        }
    #else
        $converter = converterRegistry.get(${valueType}.class);
    #end
#end


## Gets or selects the json value
#macro(getOrSelectJsonValue)
    ## TODO: Write JsonUtils.isJsonPath()
    #if ($jsonUtils.isJson($propertyContext.path))
        $jsonValue = JsonPath.select(jsonObject, "$propertyContext.pathOrName");
    #else
        $jsonValue = jsonObject.get("$propertyContext.pathOrName");
    #end
#end


## Assigns the mapped value to the model property 
#macro(assignValue)
    #if ($propertyContext.setter)
        $propertyContext.setter.name setter = GWT.create(${propertyContext.setter.name}.class);
        setter.set(model, $value);
    #else
        #if ($propertyContext.accessibleField) 
            model.$propertyContext.name = $value;
        #elseif ($propertyContext.callableSetter) 
            model.${propertyContext.callableSetter.name}($value);
        #else
            if (logger.isLoggable(SEVERE)) 
            {
                logger.log(SEVERE, "No accessible field or setter found in $modelType for property $propertyContext.name during mapping. This should not happen at this point. Something went wrong in the initialization phase.");
            }
        #end
    #end
#end