#set($modelType = $typeContext.type.qualifiedSourceName)
#set($modelParameterizedType = $typeContext.type.parameterizedQualifiedSourceName)

package ${typeContext.rwType.package.name};

import java.util.List;
import java.util.logging.Logger;

import name.pehl.piriti.commons.client.ModelWriteEvent;
import name.pehl.piriti.commons.client.ModelWriteHandler;

import com.google.gwt.event.shared.GwtEvent;
import com.google.gwt.event.shared.HandlerManager;
import com.google.gwt.event.shared.HandlerRegistration;

public class $implName implements $typeContext.rwType.qualifiedSourceName 
{
    // --------------------------------------------------------- private fields
    
    private static Logger logger = Logger.getLogger("$typeContext.rwType.qualifiedSourceName");
    private final HandlerManager handlerManager;


    // ----------------------------------------------------------- constructors

    public $implName() 
    {
        this.handlerManager = new HandlerManager(this);
    }
    
    
    // --------------------------------------------------------- event handling
    
    public HandlerRegistration addModelWriteHandler(ModelWriteHandler<$modelParameterizedType> handler) 
    {
        return handlerManager.addHandler(ModelWriteEvent.getType(), handler);
    }

    public void fireEvent(GwtEvent<?> event) 
    {
        handlerManager.fireEvent(event);
    }


    // ---------------------------------------------------------- write methods

    public String toXml(List<$modelParameterizedType> models)
    {
        return null;
    }

    public String toXml(List<$modelParameterizedType> models, String rootElement)
    {
        return null;
    }

    public String toXml(List<$modelParameterizedType> models, String rootElement, String nestedRootElement)
    {
        return null;
    }

    public String toXml($modelParameterizedType model)
    {
        return null;
    }

    public String toXml($modelParameterizedType model, String rootElement)
    {
        return null;
    }

    public String toPlainXml($modelParameterizedType model)
    {
        return null;
    }
}