#set($valueType = $propertyContext.type.qualifiedSourceName)
#set($value = $property.variables.value)
#set($componentType = $propertyContext.arrayType.componentType.parameterizedQualifiedSourceName)
#set($jsonValue = $propertyContext.variableNames.newVariableName("JsonValue"))
#set($converter = $propertyContext.variableNames.newVariableName("Converter"))

#logProperty()
$valueType $value = null;
JSONValue $jsonValue = null;

#getOrSelectJsonValue()
if ($jsonValue != null)
{
    JSONArray jsonArray = ${jsonValue}.isArray();
    if (jsonArray != null)
    {
        int size = jsonArray.size();
        $value = new $componentType[size];
        Converter<String> $converter = null;
        #if ($propertyContext.hasConverter()) #customConverter() #else #defaultConverter() #end
        for (int i = 0; i < size; i++)
        {
            JSONValue nestedJsonValue = jsonArray.get(i);
            if (nestedJsonValue != null && nestedJsonValue.isNull() == null) 
            {
                ## TODO: 
                ## 1. Build nested PropertyContext
                ## 2. Find related PropertyHandler
                ## 3. Render relevant template 
            }
            else
            {
                ## TODO: Don't allow null elements!
                ${value}[i] = null; 
            }
        }
    }
    if ($value != null) 
    {
        #assignValue()
    }
}
