#set($valueType = $propertyContext.type.qualifiedSourceName)
#set($parameterizedValueType = $propertyContext.type.parameterizedQualifiedSourceName)
#set($value = $propertyContext.variableNames.valueVariable)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#set($componentType = $propertyContext.type.isParameterized().typeArgs[0].parameterizedQualifiedSourceName)
#set($jsonValue = $propertyContext.variableNames.newVariableName("JsonValue"))
#set($converter = $propertyContext.variableNames.newVariableName("Converter"))

#logProperty()
$parameterizedValueType $value = null;
JSONValue $jsonValue = null;

#getOrSelectJsonValue()
if ($jsonValue != null)
{
    JSONArray jsonArray = ${jsonValue}.isArray();
    if (jsonArray != null)
    {
        int size = jsonArray.size();
        $value = new $collectionImplementation<$componentType>();
        Converter<$componentType> $converter = null;
        #if ($propertyContext.hasConverter())
            #customConverter() 
        #else 
            ## Temporarily set $valueType to $componentType to use #defaultConverter() macro   
            #set($valueType = $componentType)
            #defaultConverter()
            ## Switch back...
            #set($valueType = $propertyContext.type.qualifiedSourceName)
        #end
        for (int i = 0; i < size; i++)
        {
            JSONValue nestedJsonValue = jsonArray.get(i);
            if (nestedJsonValue != null && nestedJsonValue.isNull() == null) 
            {
                #set($nestedTemplate = $propertyHandler.findTemplate($propertyContext.nestedContext))
                #set($propertyContextBackup = $propertyContext)
                #set($propertyHandlerBackup = $propertyHandler)
                #set($valueBackup = $value)
                #set($propertyHandler = $propertyHandler.nestedPropertyHandler)
                #set($propertyContext = $propertyHandler.nestedPropertyContext)
                #set($value = $value)
                #parse($nestedTemplate)
				if ($value != null) 
				{
				    ${valueBackup}.add($value);
				}
            }
        }
    }
    ## Restore variables overwritten in nested template
    #set($propertyContext = $propertyContextBackup)
    #set($propertyHandler = $propertyHandlerBackup)
    #set($value = $valueBackup)
    if ($value != null) 
    {
        #assignValue()
    }
}
