#set($nestedValueType = $property.child.type.qualifiedSourceName)

$nestedValueType $nestedValue = null;
JSONString jsonString = nestedJsonValue.isString();
if (jsonString != null)
{
    String stringValue = jsonString.stringValue();
    if (stringValue != null)
    {
        if ($converter != null)
        {
            $nestedValue = ${converter}.convert(stringValue);
        }
        else
        {
            boolean error = true;
            String[] stringValues = new String[]{stringValue, stringValue.toUpperCase(), stringValue.toLowerCase()};
            for (String s : stringValues)
            {
                try 
                {
                    $nestedValue = ${property.child.enumType.qualifiedSourceName}.valueOf(stringValue);
                    error = false;
                    break;
                }
                catch (IllegalArgumentException e) {} 
            }
            if (error)
            {
                if (logger.isLoggable(SEVERE)) 
                {
                    logger.log(SEVERE, "Cannot convert any of " + stringValues + " to enum property $property.child.name in ${modelType} using ${nestedValueType}.valueOf(String).");
            }
        }
    }
}
