#set($nestedValueType = $property.child.type.qualifiedSourceName)

Character $nestedValue = null;
JSONString jsonString = nestedJsonValue.isString();
if (jsonString != null)
{
    String stringValue = nestedJsonValue.stringValue();
    if (stringValue != null)
    {
        if ($converter != null)
        {
            $nestedValue = ${converter}.convert(stringValue);
        }
        else
        {
            if (stringValue.length() != 0)
            {
                $nestedValue = stringValue.charAt(0);
            }
        }
    }
}
