#set($value = $property.variables.value)
#set($converter = $property.variables.newVariable("Converter"))

String $value = null;
#if ($property.hasConverter())
    Converter<String> $converter = null; 
    #customConverter() 
#end
JSONString jsonString = nestedJsonValue.isString();
if (jsonString != null)
{
    $value = jsonString.stringValue();
    #if ($property.hasConverter())
        if ($value != null && $converter != null)
        {
            $value = ${converter}.convert($value);
        }
    #end
}
