#set($valueType = $property.type.qualifiedSourceName)
#set($value = $property.variables.value)
#set($jsonValue = $property.variables.newVariable("JsonValue"))
#set($converter = $property.variables.newVariable("Converter"))

#logProperty()
$valueType $value = null;
JSONValue $jsonValue = null;

#getOrSelectJsonValue()
if ($jsonValue != null)
{
    if (${jsonValue}.isNull() == null) 
    {
        JSONNumber jsonNumber = ${jsonValue}.isNumber();
        if (jsonNumber != null)
        {
            Double doubleValue = new Double(jsonNumber.doubleValue());
            #if($TypeUtils.isByte($property.type))
                $value = doubleValue.byteValue();
            #elseif($TypeUtils.isShort($property.type))
                $value = doubleValue.shortValue();
            #elseif($TypeUtils.isInteger($property.type))
                $value = doubleValue.intValue();
            #elseif($TypeUtils.isLong($property.type))
                $value = doubleValue.longValue();
            #elseif($TypeUtils.isFloat($property.type))
                $value = doubleValue.floatValue();
            #elseif($TypeUtils.isDouble($property.type))
                $value = doubleValue;
            #else
	            if (logger.isLoggable(SEVERE)) 
	            {
	                logger.log(SEVERE, "$valueType is no valid numeric type for the property $property.name in ${modelType}. Property will be skipped.");
	            }
            #end
        }
        else
        {
	        JSONString jsonString = ${jsonValue}.isString();
	        if (jsonString != null)
	        {
	            String stringValue = jsonString.stringValue();
	            if (stringValue != null)
	            {
		            Converter<$valueType> $converter = null;
		            #if ($property.hasConverter()) #customConverter() #else #defaultConverter() #end
		            if ($converter != null)
		            {
		                $value = ${converter}.convert(stringValue);
		            }
	            }
	        }
        }
    }
	if ($value != null) 
    {
        #assignValue()
	}
}
