if (currentValue != null)
{
    #if ($property.converter)
        String currentValueAsString = ${converter}.serialize(currentValue);
        out.append(JsonUtils.escapeValue(currentValueAsString));
    #else
	    JsonWriter<$elementType> currentWriter = jsonRegistry.getWriter(${elementType}.class);
	    if (currentWriter != null)
	    {
	        out.append(currentWriter.toJson(currentValue));
	    }
    #end
}
else
{
    out.append("null");
}
