if (currentValue != null)
{
    #createConverter()
    String currentValueAsString = ${converter}.serialize(currentValue);
    if (isBoolean(currentValueAsString))
    {
        out.append(currentValueAsString);
    }
    else
    {
        out.append(JsonUtils.escapeValue(currentValueAsString));
    }
}
else
{
    out.append("null");
}
