if (currentValue != null)
{
    #if ($property.hasConverter())
        String currentValueAsString = ${converter}.serialize(currentValue);
        out.append(JsonUtils.escapeValue(currentValueAsString));
    #else
        String currentValueAsString = String.valueOf(currentValue);
        out.append(currentValueAsString);
    #end
}
else
{
    out.append("false");
}
