if (currentValuevalue != null)
{
    #if ($property.converter)
        String currentValueAsString = ${converter}.serialize(currentValue);
    #else
        String currentValueAsString = String.valueOf(currentValue);
    #end
    out.append(JsonUtils.escapeValue(currentValueAsString));
}
else
{
    out.append(JsonUtils.escapeValue(String.valueOf(Character.MIN_VALUE)));
}
