if ($currentValuevalue != null)
{
    #if ($property.hasConverter())
        $currentValueAsString = ${converter}.serialize($currentValue);
    #else
        $currentValueAsString = String.valueOf($currentValue);
    #end
    out.append(JsonUtils.escapeValue($currentValueAsString));
}
else
{
    out.append(JsonUtils.escapeValue(String.valueOf(Character.MIN_VALUE)));
}
