if (currentValue != null)
{
    #if ($property.hasConverter())
        currentValue = ${converter}.serialize(currentValue);
    #end
    out.append(JsonUtils.escapeValue(currentValue));
}
else
{
    out.append("null");
}
