#if ($property.native)
    $value = ${jsonValue}.toString();
#else
    if (${jsonValue}.isNull() == null) 
    {
        JSONString jsonString = ${jsonValue}.isString();
        if (jsonString != null)
        {
            $value = jsonString.stringValue();
            #if ($property.converter)
                #createConverter()
                if ($value != null)
                {
                    $value = ${converter}.convert($value);
                }
            #end
        }
    }
#end
