#set($valueType = $property.type.qualifiedSourceName)
#set($parameterizedValueType = $property.type.parameterizedQualifiedSourceName)
#newConcreteTypes()
XmlReader<$parameterizedValueType> $reader = xmlRegistry.getReader(${valueType}.class);
if ($reader != null)
{
    String reference = element.selectValue("$property.pathOrName", $property.whitespaceHandling);
    if (reference != null)
    {
        $value = ${reader}.idRef(reference);
    }
}
