#set($asList = $property.variables.newVariable("AsList"))
#set($elementType = $property.elementType.qualifiedSourceName)
#newConcreteTypes()
XmlReader<$elementType> $reader = xmlRegistry.getReader(${elementType}.class);
if ($reader != null)
{
    String[] references = element.selectValues("$property.pathOrName", $property.whitespaceHandling);
    if (references != null && references.length != 0)
    {
        List<$elementType> asList = new ArrayList<$elementType>(references.length);
        for (String reference : references)
        {
            $elementType currentValue = ${reader}.idRef(reference);
            if (currentValue != null)
            {
                asList.add(currentValue);
            }
        }
	    int index = 0;
	    $value = new ${elementType}[asList.size()];
	    for ($elementType tmpValue : asList)
	    {
	        ${value}[index++] = tmpValue;
	    }
    }
}
