#if ($property.converter && $converter)
    String currentValueAsString = ${converter}.serialize(currentValue);
    collectionXmlBuilder.append(nestedPath, currentValueAsString);
#else
    if (currentValue != null)
    {
        XmlWriter<$elementType> currentWriter = (XmlWriter<$elementType>)xmlRegistry.getWriter(currentValue.getClass());
        if (currentWriter != null)
        {
            XmlBuilder nestedXmlBuilder = new XmlBuilder(nestedPath);
            XmlBuilder objectXmlBuilder = new XmlBuilder(((AbstractXmlWriter)currentWriter).modelName());
            ((AbstractXmlWriter<$elementType>)currentWriter).appendModel(objectXmlBuilder, currentValue);
            nestedXmlBuilder.append(objectXmlBuilder);
            collectionXmlBuilder.append(nestedXmlBuilder);
        }
        else
        {
           collectionXmlBuilder.append(nestedPath);
        }
    }
    else
    {
        collectionXmlBuilder.append(nestedPath);
    }
#end
