#if ($property.converter)
    String currentValueAsString = ${converter}.serialize(currentValue);
    collectionXmlBuilder.append(nestedPath, currentValueAsString);
#else
    XmlWriter<$elementType> currentWriter = (XmlWriter<$elementType>)xmlRegistry.getWriter(currentValue.getClass());
    if (currentWriter != null)
    {
        XmlBuilder nestedXmlBuilder = new XmlBuilder(nestedPath);
        ((AbstractXmlWriter<$elementType>)currentWriter).appendModel(nestedXmlBuilder, currentValue);
        collectionXmlBuilder.append(nestedXmlBuilder);
    }
    else
    {
       collectionXmlBuilder.append(nestedPath);
    }
#end
