#set($valueType = $property.type.qualifiedSourceName)
#set($parameterizedValueType = $property.type.parameterizedQualifiedSourceName)
#set($value = $property.variables.value)
#set($jsonValue = $property.variables.newVariable("JsonValue"))
#set($converter = $property.variables.newVariable("Converter"))
#set($asList = $property.variables.newVariable("AsList"))

#if ($property.arrayType.componentType.isPrimitive())
    #set($componentType = $property.arrayType.componentType.qualifiedBoxedSourceName)
#else
    #set($componentType = $property.arrayType.componentType.parameterizedQualifiedSourceName)
#end

#logProperty()
$valueType $value = null;
JSONValue $jsonValue = null;

#getOrSelectJsonValue()
if ($jsonValue != null)
{
    JSONArray jsonArray = ${jsonValue}.isArray();
    if (jsonArray != null)
    {
        int size = jsonArray.size();
        List<$componentType> $asList = new ArrayList<$componentType>(size);
        Converter<$componentType> $converter = null;
        #if ($property.hasConverter())
            #customConverter() 
        #else 
            ## Temporarily set $valueType to $componentType to use #defaultConverter() macro   
            #set($valueType = $componentType)
            #defaultConverter()
            ## Switch back...
            #set($valueType = $property.type.qualifiedSourceName)
        #end
        for (int i = 0; i < size; i++)
        {
            JSONValue nestedJsonValue = jsonArray.get(i);
            if (nestedJsonValue != null && nestedJsonValue.isNull() == null) 
            {
                #set($nestedValue = $property.child.variables.value)
                #parse($property.child.template)
                if ($nestedValue != null) 
                {
                    ${asList}.add($nestedValue);
                }
            }
        }
        int index = 0;
        $value = new ${property.arrayType.componentType.parameterizedQualifiedSourceName}[${asList}.size()];
        for ($componentType tmpValue : $asList)
        {
            ${value}[index++] = tmpValue;
        }
    }
    if ($value != null) 
    {
        #assignValue()
    }
}
