#set($elementType = $property.elementType.qualifiedSourceName)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
JSONArray jsonArray = ${jsonValue}.isArray();
if (jsonArray != null)
{
    int size = jsonArray.size();
    $value = new $collectionImplementation<$elementType>();
    #if ($property.converter)
        #createConverter()
    #end
    for (int i = 0; i < size; i++)
    {
        JSONValue currentJsonValue = jsonArray.get(i);
        if (currentJsonValue != null && currentJsonValue.isNull() == null) 
        {
            $elementType currentValue = null;
            #parse($property.elementTypeTemplate)
            if (currentValue != null) 
            {
                ${value}.add(currentValue);
            }
        }
    }
}
