#parse("name/pehl/piriti/rebind/commons.vm")
#set($jsonValue = $property.variables.newVariable("JsonValue"))

#logProperty()
$parameterizedValueType $value = null;
JSONValue $jsonValue = null;
#getOrSelectJsonValue()
