#parse("name/pehl/piriti/rebind/json/reader/property/commons.vm")
if ($jsonValue != null)
{
    if (${jsonValue}.isNull() == null) 
    {
        JSONNumber jsonNumber = ${jsonValue}.isNumber();
        if (jsonNumber != null)
        {
            Double doubleValue = new Double(jsonNumber.doubleValue());
            #if($TypeUtils.isByte($property.type))
                $value = doubleValue.byteValue();
            #elseif($TypeUtils.isShort($property.type))
                $value = doubleValue.shortValue();
            #elseif($TypeUtils.isInteger($property.type))
                $value = doubleValue.intValue();
            #elseif($TypeUtils.isLong($property.type))
                $value = doubleValue.longValue();
            #elseif($TypeUtils.isFloat($property.type))
                $value = doubleValue.floatValue();
            #elseif($TypeUtils.isDouble($property.type))
                $value = doubleValue;
            #else
	            if (logger.isLoggable(SEVERE)) 
	            {
	                logger.log(SEVERE, "$valueType is no valid numeric type for the property $property.name in ${modelType}.");
	            }
            #end
        }
        else
        {
	        JSONString jsonString = ${jsonValue}.isString();
	        if (jsonString != null)
	        {
	            String stringValue = jsonString.stringValue();
	            if (stringValue != null)
	            {
	               #convert()
	            }
	        }
        }
    }
	if ($value != null) 
    {
        #assignValue()
	}
}
