#parse("name/pehl/piriti/rebind/json/reader/property/commons.vm")
if ($jsonValue != null)
{
    #if ($property.native)
        $value = ${jsonValue}.toString();
    #else
		#if ($property.hasConverter())
            Converter<String> $converter = null; 
            #customConverter() 
        #end
	    if (${jsonValue}.isNull() == null) 
	    {
	        JSONString jsonString = ${jsonValue}.isString();
	        if (jsonString != null)
	        {
	            $value = jsonString.stringValue();
	            #if ($property.hasConverter())
		            if ($value != null && $converter != null)
		            {
		                $value = ${converter}.convert($value);
		            }
	            #end
	        }
	    }
    #end
    if ($value != null) 
    {
        #assignValue()
    }
}
