#set($modelType = $typeContext.type.qualifiedSourceName)
#set($modelParameterizedType = $typeContext.type.parameterizedQualifiedSourceName)

package ${typeContext.rwType.package.name};

import static java.util.logging.Level.*;

import java.util.ArrayList;
import java.util.Iterator;
import java.util.List;

import name.pehl.piriti.commons.client.ModelWriteEvent;
import name.pehl.piriti.json.client.AbstractJsonWriter;
import name.pehl.piriti.json.client.JsonWriter;

import com.google.gwt.core.client.GWT;
import com.google.gwt.core.client.JsonUtils;


public class $implName extends AbstractJsonWriter<$modelParameterizedType> implements $typeContext.rwType.qualifiedSourceName 
{
#if ($paramTypes)
    private final List<Class<?>> typeClasses = new ArrayList<Class<?>>();
#end
    // ----------------------------------------------------------- constructors

    public $implName() 
    {
#if ($paramTypes)
#foreach($paramType in $paramTypes)
        typeClasses.add(${paramType.qualifiedSourceName}.class);
#end
        this.jsonRegistry.register(${modelType}.class, typeClasses, this);
#else
        this.jsonRegistry.register(${modelType}.class, this);
#end
    }
    
    
    // ---------------------------------------------------------- write methods

    @Override
    public String toJson($modelParameterizedType model)
    {
        String json = null;
        if (model != null) 
        {
            StringBuilder out = new StringBuilder();
            out.append("{");
            #foreach ($property in $typeContext.properties)
				#set($valueType = $property.type.qualifiedSourceName)
				#set($parameterizedValueType = $property.type.parameterizedQualifiedSourceName)
				#set($value = $property.variables.value)
				#set($valueAsString = $property.variables.valueAsString)
                #set($getter = $property.variables.newVariable("Getter"))
				#set($converter = $property.variables.newVariable("Converter"))
				
                // parsing template $property.templates.main
                if (logger.isLoggable(FINE)) 
                {
                    logger.log(FINE, "Processing $parameterizedValueType $property.name");
                }
				$parameterizedValueType $value = null;
			    #if ($property.getter)
			        $property.getter $getter = GWT.create(${property.getter}.class);
			        $value = ${getter}.get(model);
			    #else
			        #if ($property.accessibleField) 
			            $value = model.$property.name;
			        #elseif ($property.callableGetter) 
			            $value = model.${property.callableGetterName}(); 
			        #else
			            if (logger.isLoggable(SEVERE)) 
			            {
			                logger.log(SEVERE, "No accessible field or getter found for property $property.name in ${modelType}.");
			            }
			        #end
			    #end
				out.append(JsonUtils.escapeValue("$property.pathOrName")).append(":");
                ## Here happens the actual conversion / writing from $value into the StringBuilder
                #parse($property.templates.main)
	            #if ($foreach.hasNext) 
	               out.append(","); 
                #end
            #end
            out.append("}");
            json = out.toString();
            ModelWriteEvent.fire(this, model, json);
        }
        return json;
    }
}
