#parse("name/pehl/piriti/rebind/json/writer/property/commons.vm")
#set($writer = $property.variables.newVariable("Writer"))
#newConcreteTypes()
if ($value != null)
{
    JsonWriter<$parameterizedValueType> $writer = jsonRegistry.getWriter(${valueType}.class);
    if ($writer != null)
    {
        out.append(${writer}.toJson($value));
    }
    else
    {
        #serialize()
	    else
	    {
	        $valueAsString = String.valueOf($value);
	    }
	    out.append(JsonUtils.escapeValue($valueAsString));
        
    }
}
else
{
    out.append("null");
}
