#parse("name/pehl/piriti/rebind/json/writer/property/commons.vm")
if ($value != null)
{
    #if ($property.hasConverter())
        Converter<Boolean> $converter = null;
        #customConverter()
        $valueAsString = ${converter}.serialize($value);
        out.append(JsonUtils.escapeValue($valueAsString));
    #else
        $valueAsString = String.valueOf($value);
        out.append($valueAsString);
    #end
}
else
{
    out.append("false");
}
