#parse("name/pehl/piriti/rebind/json/writer/property/commons.vm")
if ($value != null)
{
    String $valueAsString = null;
    #serialize()
    else
    {
        $valueAsString = String.valueOf($value);
    }
    out.append(JsonUtils.escapeValue($valueAsString));
}
else
{
    out.append(JsonUtils.escapeValue(String.valueOf(Character.MIN_VALUE)));
}
