#set($elementType = $property.elementType.parameterizedQualifiedSourceName)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
if ($value != null)
{
    #if ($property.converter)
        #createConverter()
    #end
    out.append("[");
    for (Iterator<$elementType> iter = ${value}.iterator(); iter.hasNext(); )
    {
        $elementType currentValue = iter.next();
        #parse($property.elementTypeTemplate)
        if (iter.hasNext())
        {
            out.append(",");
        }
    }
    out.append("]");
}
else
{
    out.append("null");
}
