#parse("name/pehl/piriti/rebind/json/writer/property/commons.vm")
#set($elementType = $property.elementType.parameterizedQualifiedSourceName)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
if ($value != null)
{
    Converter<$elementType> $converter = null;
    #if ($property.hasConverter()) #customConverter() #else #defaultConverter($elementType) #end
    for (Iterator<$elementType> iter = ${value}.iterator(); iter.hasNext(); )
    {
        $elementType currentValue = iter.next();
        #parse($property.elementTypeTemplate)
        if (iter.hasNext())
        {
            out.append(",");
        }
    }
}
else
{
    out.append("null");
}
