#parse("name/pehl/piriti/rebind/propertyCommons.vm")
#set($valueAsString = $property.variables.valueAsString)
#logProperty()
String $valueAsString = null;
$parameterizedValueType $value = null;
#readValue()
out.append("\"$property.name\":");