if ($value != null)
{
    #createConverter()
    String $valueAsString = ${converter}.serialize($value);
    out.append(JsonUtils.escapeValue($valueAsString));
}
else
{
    out.append("null");
}
