#parse("name/pehl/piriti/rebind/json/writer/property/commons.vm")
if ($jsonValue != null)
{
    if (${jsonValue}.isNull() == null) 
    {
        JSONString jsonString = ${jsonValue}.isString();
        if (jsonString != null)
        {
            String stringValue = jsonString.stringValue();
            if (stringValue != null)
            {
                #convert("stringValue")
                else
                {
                    #valueOfEnum("stringValue", $value, $valueType)
                }
            }
        }
    }
	if ($value != null) 
    {
        #assignValue()
	}
}
