#parse("name/pehl/piriti/rebind/json/writer/property/commons.vm")
if ($value != null)
{
    #if ($property.hasConverter())
        Converter<String> $converter = null;
        #customConverter()
        $value = ${converter}.serialize($value);
	#end
	out.append(JsonUtils.escapeValue($value));
}
else
{
    out.append("null");
}
