#parse("name/pehl/piriti/rebind/json/writer/property/commons.vm")
if ($value != null)
{
    #if ($property.hasConverter())
        $valueAsString = ${converter}.serialize($value);
    #else
        $valueAsString = $value;
	#end
	out.append("\"$valueAsString\"");
}
else
{
    out.append("null");
}
