JSONString currentJsonString = currentJsonValue.isString();
if (currentJsonString != null)
{
    String currentStringValue = currentJsonString.stringValue();
    if (currentStringValue != null)
    {
        #if ($property.converter)
            currentValue = ${converter}.convert(currentStringValue);
        #else
            #valueOfEnum("currentStringValue", "currentValue", $elementType)
        #end
    }
}
