JSONString jsonString = currentJsonValue.isString();
if (jsonString != null)
{
    currentValue = jsonString.stringValue();
    #if ($property.converter && $converter)
        if (currentValue != null)
        {
            currentValue = ${converter}.convert(currentValue);
        }
    #end
}
