String currentValueAsString = currentElement.getText($property.whitespaceHandling);
if (currentValueAsString != null)
{
    #if ($property.converter)
        currentValue = ${converter}.convert(currentValueAsString);
    #else
        #valueOfEnum("currentValueAsString", "currentValue", $elementType)
    #end
}
