#set($value = $propertyContext.variableNames.valueVariable)
#set($jsonValue = $propertyContext.variableNames.newVariableName("JsonValue"))
#set($converter = $propertyContext.variableNames.newVariableName("Converter"))

Boolean $value = null;
JSONValue $jsonValue = null;

#getOrSelectJsonValue()
if ($jsonValue != null)
{
    if (${jsonValue}.isNull() == null) 
    {
        JSONBoolean jsonBoolean = ${jsonValue}.isBoolean();
        if (jsonBoolean != null)
        {
            $value = jsonBoolean.booleanValue();
        }
        else
        {
	        JSONString jsonString = $jsonValue.isString();
	        if (jsonString != null)
	        {
	            String stringValue = jsonString.stringValue();
                if (stringValue != null)
                {
			        Converter<Boolean> $converter = null;
		            #if ($propertyContext.hasConverter()) #customConverter() #else #defaultConverter() #end
		            if ($converter != null)
		            {
		                $value = ${converter}.convert(stringValue);
		            }
	            }
	        }
        }
    }
	if ($value != null) 
    {
        #assignValue()
	}
}
