#set($valueType = $propertyContext.type.qualifiedSourceName)
#set($parameterizedValueType = $propertyContext.type.parameterizedQualifiedSourceName)
#set($value = $propertyContext.variableNames.valueVariable)
#set($reader = $propertyContext.variableNames.newVariableName("Reader"))
#set($converter = $propertyContext.variableNames.newVariableName("Converter"))
#set($jsonValue = $propertyContext.variableNames.newVariableName("JsonValue"))
#set($jsonObject = $propertyContext.variableNames.newVariableName("JsonObject"))

#logProperty()
#foreach ($concreteType in $propertyHandler.concreteTypes)
    // if there are any reader / writer definitions in $concreteType.parameterizedQualifiedSourceName, this ensures they are registered
    new ${concreteType.parameterizedQualifiedSourceName}();
#end
$parameterizedValueType $value = null;
JsonReader<$parameterizedValueType> $reader = jsonRegistry.getReader(${valueType}.class);
if ($reader != null)
{
    JSONObject $jsonObject = nestedJsonValue.isObject();
    if ($jsonObject != null)
    {
        $value = ${reader}.read($jsonObject);
    }
}
else
{
    JSONString jsonString = nestedJsonValue.isString();
    if (jsonString != null)
    {
        String stringValue = jsonString.stringValue();
        if (stringValue != null)
        {
            Converter<$parameterizedValueType> $converter = null;
            #if ($propertyContext.hasConverter()) #customConverter() #else #defaultConverter() #end
            if ($converter != null)
            {
                $value = ${converter}.convert(stringValue);
            }
        }
    }
}
