#set($reader = $property.variables.newVariable("Reader"))
#set($nodeValue = $property.variables.newVariable("NodeValue"))
#if ($property.native)
    Node $nodeValue = element.selectNode("$property.pathOrName");
    #if($TypeUtils.isNode($property.type))
        $value = $nodeValue;
    #elseif($TypeUtils.isNodeSubtype($property.type))
        if ($nodeValue instanceof $valueType) 
        {
            $value = ($parameterizedValueType)$nodeValue;
        }
    #else
        if (logger.isLoggable(SEVERE)) 
        {
            logger.log(SEVERE, "Cannot map property $property.name in ${modelType} nativly: Type $parameterizedValueType must be an instance of name.pehl.totoe.xml.client.Node.");
        }
    #end
#else
    #if ($property.converter)
        #createConverter()
        String $valueAsString = element.selectValue("$property.pathOrName", $property.whitespaceHandling);
        $value = ${converter}.convert($valueAsString);
    #else
        #newConcreteTypes()
        Node $nodeValue = element.selectNode("$property.pathOrName");
        if ($nodeValue instanceof Element)
        {
	        XmlReader<$parameterizedValueType> $reader = xmlRegistry.getReader(${valueType}.class);
	        if ($reader != null)
	        {
                $value = ${reader}.read((Element)$nodeValue);
            }
        }
    #end
#end
