#set($asList = $property.variables.newVariable("AsList"))
#set($elements = $property.variables.newVariable("Elements"))
#set($elementType = $property.elementType.parameterizedQualifiedSourceName)
#if ($property.elementType.isPrimitive())
    #set($boxedElementType = $property.elementType.qualifiedBoxedSourceName)
#else
    #set($boxedElementType = $elementType)
#end
#newConcreteTypes()
List<Element> $elements = filterElements(element.selectNodes("$property.pathOrName"));
if (!${elements}.isEmpty())
{
    List<$boxedElementType> $asList = new ArrayList<$boxedElementType>(${elements}.size());
    #if ($property.converter)
        #createConverter()
    #end
    for (Element currentElement : $elements)
    {
        $boxedElementType currentValue = null;
        #parse($property.elementTypeTemplate)
        if (currentValue != null) 
        {
            ${asList}.add(currentValue);
        }
    }
    int index = 0;
    $value = new ${elementType}[${asList}.size()];
    for ($boxedElementType tmpValue : $asList)
    {
        ${value}[index++] = tmpValue;
    }
}
