#set($elements = $property.variables.newVariable("Elements"))
#set($elementType = $property.elementType.qualifiedSourceName)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
List<Element> $elements = filterElements(element.selectNodes("$property.pathOrName"));
if (!${elements}.isEmpty())
{
    $value = new $collectionImplementation<$elementType>();
    #if ($property.converter)
        #createConverter()
    #end
    for (Element currentElement : $elements)
    {
        $elementType currentValue = null;
        #parse($property.elementTypeTemplate)
        if (currentValue != null) 
        {
            ${value}.add(currentValue);
        }
    }
}
