#set($elements = $property.variables.newVariable("Elements"))
#set($elementType = $property.elementType.parameterizedQualifiedSourceName)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
List<Element> $elements = filterElements(element.selectNodes("$property.pathOrName"));
if (!${elements}.isEmpty())
{
    $value = new $collectionImplementation<$elementType>();
    Converter<$elementType> $converter = null;
    #if ($property.converter) #customConverter() #else #defaultConverter($elementType) #end
    for (Element currentElement : $elements)
    {
        #set($currentValue = $property.variables.newVariable("CurrentValue"))
        $elementType $currentValue = null;
        #parse($property.elementTypeTemplate)
        if ($currentValue != null) 
        {
            ${value}.add($currentValue);
        }
    }
}
if ($value != null) 
{
    #assignValue()
}
