String $valueAsString = element.selectValue("$property.pathOrName", $property.whitespaceHandling);
if ($valueAsString != null)
{
    #if ($property.converter)
        #createConverter()
        $value = ${converter}.convert($valueAsString);
    #else
        #valueOfEnum($valueAsString, $value, $valueType)
    #end
}    
