#set($value = $property.variables.value)
#set($nodeValue = $property.variables.newVariable("NodeValue"))
#set($converter = $property.variables.newVariable("Converter"))

#logProperty()
String $value = null;
#if ($property.native)
    Node $nodeValue = element.selectNode("$property.pathOrName");
    if ($nodeValue != null) 
    {
        $value = $nodeValue.serialize();
    }
#else
    $value = element.selectValue("$property.pathOrName", $property.whitespaceHandling);
	#if ($property.hasConverter())
        Converter<String> $converter = null; 
        #customConverter() 
        if ($value != null && $converter != null)
        {
            $value = ${converter}.convert($value);
        }
    #end
#end
if ($value != null) 
{
    #assignValue()
}
