#set($nodeValue = $property.variables.newVariable("NodeValue"))
#if ($property.native)
    Node $nodeValue = element.selectNode("$property.pathOrName");
    if ($nodeValue != null) 
    {
        $value = ${nodeValue}.serialize();
    }
#else
    $value = element.selectValue("$property.pathOrName", $property.whitespaceHandling);
    #if ($property.converter)
        #createConverter()
        if ($value != null)
        {
            $value = ${converter}.convert($value);
        }
    #end
#end
