## extra treatment for polymorphic references inside an array or collection
#set($currentReader = $property.variables.newVariable("CurrentReader"))
#if ($property.instanceCreator)
    // There is an InstanceCreator configured for $property.name. Use it to get the actual type for the JsonReader
    JsonReader<$elementType> $currentReader = null;
    $property.instanceCreator.qualifiedSourceName instanceCreator = GWT.create(${property.instanceCreator.qualifiedSourceName}.class);
    $elementType tmp = instanceCreator.newInstance(currentJsonValue);
    if (tmp != null)
    {
        $currentReader = (JsonReader<$elementType>)jsonRegistry.getReader(tmp.getClass());
    }
#else
    JsonReader<$elementType> $currentReader = jsonRegistry.getReader(${elementType}.class);
#end
if ($currentReader != null)
{
    JSONObject currentJsonObject = currentJsonValue.isObject();
    if (currentJsonObject != null)
    {
        $currentValue = ${currentReader}.read(currentJsonObject);
    }
}
else
{
    JSONString jsonString = currentJsonValue.isString();
    if (jsonString != null)
    {
        String stringValue = jsonString.stringValue();
        if (stringValue != null && $converter != null)
        {
            $currentValue = ${converter}.convert(stringValue);
        }
    }
}
