#set($currentReader = $property.variables.newVariable("CurrentReader"))
JsonReader<$elementType> $currentReader = jsonRegistry.getReader(${elementType}.class);
if ($currentReader != null)
{
    JSONObject currentJsonObject = currentJsonValue.isObject();
    if (currentJsonObject != null)
    {
        $currentValue = ${currentReader}.read(currentJsonObject);
    }
}
else
{
    JSONString jsonString = currentJsonValue.isString();
    if (jsonString != null)
    {
        String stringValue = jsonString.stringValue();
        if (stringValue != null && $converter != null)
        {
            $currentValue = ${converter}.convert(stringValue);
        }
    }
}
