JSONBoolean jsonBoolean = currentJsonValue.isBoolean();
if (jsonBoolean != null)
{
    $currentValue = jsonBoolean.booleanValue();
}
else
{
    JSONString jsonString = currentJsonValue.isString();
    if (jsonString != null)
    {
        String stringValue = jsonString.stringValue();
        if (stringValue != null && $converter != null)
        {
            $currentValue = ${converter}.convert(stringValue);
        }
    }
}
