JSONString jsonString = currentJsonValue.isString();
if (jsonString != null)
{
    String stringValue = jsonString.stringValue();
    if (stringValue != null)
    {
        if ($converter != null)
        {
            $currentValue = ${converter}.convert(stringValue);
        }
        else
        {
            #valueOfEnum("stringValue", $currentValue, $elementType)       
        }
    }
}
