JSONString jsonString = currentJsonValue.isString();
if (jsonString != null)
{
    $currentValue = jsonString.stringValue();
    #if ($property.converter)
        if ($currentValue != null && $converter != null)
        {
            $currentValue = ${converter}.convert($currentValue);
        }
    #end
}
