#set($reader = $property.variables.newVariable("Reader"))
#set($jsonObject = $property.variables.newVariable("JsonObject"))
#if ($property.native)
    #if($valueType == "com.google.gwt.json.client.JSONValue")
        $value = $jsonValue;
    #else
        if ($jsonValue instanceof $valueType) 
        {
            $value = ($parameterizedValueType)$jsonValue;
        }
        else
        {
	        if (logger.isLoggable(SEVERE)) 
	        {
	            logger.log(SEVERE, "Cannot map property $property.name in ${modelType} nativly: Type $parameterizedValueType must be an instance of JSONValue.");
	        }
        }
    #end
#else
    #if ($property.converter)
        #createConverter()
        $value = readValue($jsonValue, $converter);
    #else
		#newConcreteTypes()
#if ($paramTypes)
        JsonReader<$parameterizedValueType> $reader = jsonRegistry.getReader(${valueType}.class, typeClasses);
#else
        JsonReader<$parameterizedValueType> $reader = jsonRegistry.getReader(${valueType}.class);
#end
        if ($reader != null)
        {
            $value = readObject($jsonValue, $reader);
        }
    #end
#end
