#set($elementType = $property.elementType.parameterizedQualifiedSourceName)
#set($collectionImplementation = $TypeUtils.collectionImplementationFor($valueType))
#newConcreteTypes()
JSONArray jsonArray = ${jsonValue}.isArray();
if (jsonArray != null)
{
    int size = jsonArray.size();
    $value = new $collectionImplementation<$elementType>();
    #if ($property.converter)
        #createConverter()
    #end
    for (int i = 0; i < size; i++)
    {
        JSONValue currentJsonValue = jsonArray.get(i);
        if (currentJsonValue != null && currentJsonValue.isNull() == null) 
        {
            $elementType currentValue = null;
#if ($paramTypes)
#set($reader = $property.variables.newVariable("Reader"))
            JsonReader<$elementType> $reader = jsonRegistry.getReader(${property.elementType.qualifiedSourceName}.class, typeClasses);
            if ($reader != null)
            {
                currentValue = readObject(currentJsonValue, $reader);
            }
#else
            #parse($property.templates.elementType)
#end

            if (currentValue != null)
            {
                ${value}.add(currentValue);
            }
        }
    }
}
