#set($writer = $property.variables.newVariable("Writer"))
#newConcreteTypes()
if ($value != null)
{
    #if ($property.converter)
        #createConverter()
        String $valueAsString = ${converter}.serialize($value);
        out.start("$property.pathOrName").append($valueAsString).end();
    #else
	    XmlWriter<$parameterizedValueType> $writer = xmlRegistry.getWriter(${valueType}.class);
	    if ($writer != null)
	    {
	        out.append(${writer}.toPlainXml($value));
            out.start("$property.name").append($valueAsString).end();
	    }
	    else
	    {
	       out.emptyElement("$property.pathOrName");
	    }
    #end
}
else
{
   out.emptyElement("$property.pathOrName");
}
