if ($value != null)
{
    #if ($property.converter)
        #createConverter()
        String $valueAsString = ${converter}.serialize($value);
    #else
        String $valueAsString = String.valueOf($value);
    #end
    xmlBuilder.append("$property.pathOrName", $valueAsString);
}
else
{
    xmlBuilder.append("$property.pathOrName");
}
