if ($value != null)
{
    #if ($property.converter)
        #createConverter()
        String $valueAsString = ${converter}.serialize($value);
    #else
        String $valueAsString = String.valueOf($value);
    #end
    out.append($valueAsString);
}
