#set($valueType = $property.type.qualifiedSourceName)
#set($value = $property.variables.value)
#set($valueAsString = $property.variables.valueAsString)
#set($converter = $property.variables.newVariable("Converter"))

#logProperty()
Boolean $value = null;
String $valueAsString = element.selectValue("$property.pathOrName", $property.whitespaceHandling);
if ($valueAsString != null)
{
    Converter<Boolean> $converter = null;
    #if ($property.hasConverter()) #customConverter() #else #defaultConverter() #end
    if ($converter != null)
    {
        $value = ${converter}.convert($valueAsString);
    }
}
if ($value != null) 
{
    #assignValue()
}
