#set($valueType = $property.type.qualifiedSourceName)
#set($value = $property.variables.value)
#set($converter = $property.variables.newVariable("Converter"))

Boolean $value = null;
JSONBoolean jsonBoolean = nestedJsonValue.isBoolean();
if (jsonBoolean != null)
{
    $value = jsonBoolean.booleanValue();
}
else
{
    JSONString jsonString = nestedJsonValue.isString();
    if (jsonString != null)
    {
        String stringValue = jsonString.stringValue();
        if (stringValue != null)
        {
	        Converter<Boolean> $converter = null;
            #if ($property.hasConverter()) #customConverter() #else #defaultConverter() #end
            if ($converter != null)
            {
                $value = ${converter}.convert(stringValue);
            }
        }
    }
}
