Boolean $nestedValue = null;
String $valueAsString = nestedElement.getText($property.whitespaceHandling);
if ($valueAsString != null && $converter != null)
{
    $nestedValue = ${converter}.convert($valueAsString);
}
