#set($nestedValueType = $property.child.type.qualifiedSourceName)
#set($nestedParameterizedValueType = $property.child.type.parameterizedQualifiedSourceName)
#set($nestedReader = $property.child.variables.newVariable("Reader"))

#foreach ($concreteType in $property.child.concreteTypes)
    // if there are any reader / writer definitions in $concreteType.parameterizedQualifiedSourceName, this ensures they are registered
    new ${concreteType.parameterizedQualifiedSourceName}();
#end
$nestedParameterizedValueType $nestedValue = null;
XmlReader<$nestedParameterizedValueType> $nestedReader = xmlRegistry.getReader(${nestedValueType}.class);
if ($nestedReader != null)
{
    $nestedValue = ${nestedReader}.read(nestedElement);
}
else
{
    String $nestedValueAsString = nestedElement.getText($property.whitespaceHandling);
	if ($nestedValueAsString != null && $converter != null)
	{
	    $nestedValue = ${converter}.convert($nestedValueAsString);
	}
}
