#set($value = $property.variables.value)
#set($converter = $property.variables.newVariable("Converter"))
if (logger.isLoggable(FINE)) 
{
    logger.log(FINE, "Processing ID String $property.name");
}
String $value = element.selectValue("$property.pathOrName", $property.whitespaceHandling);
#if ($property.converter)
    #createConverter()
    if ($value != null)
    {
        $value = ${converter}.convert(id);
    }
#end
if ($value != null)
{
    // Was this model already read?
    model = idRef($value);
    if (model == null)
    {
        // First time this id is read!
        model = newModel(element);
        #if ($property.setter)
            $property.setter setter = GWT.create(${property.setter}.class);
            setter.set(model, $value);
        #else
            #if ($property.accessibleField) 
                model.$property.name = $value;
            #elseif ($property.callableSetter)
                model.${property.callableSetterName}($value);
            #else
                if (logger.isLoggable(SEVERE)) 
                {
                    logger.log(SEVERE, "No accessible field or setter found for property $property.name in ${modelType}.");
                }
            #end
        #end
	    this.idMap.put($value, model);
	}
}